DATABASE_URL="postgresql://usuario:senha@localhost:5432/controle_financeiro?schema=public"
JWT_SECRET="uma-chave-segura-com-pelo-menos-32-caracteres"
PORT=3333
NODE_ENV="development"
CORS_ORIGIN="http://localhost:5173"
